.shop-container{
    display: flex;
    padding: 20px;
    padding-left: 2%;
}
.filter-bar{
    width: 20%;
    padding-left: 30px;
    padding-top: 10px;
}
.filters{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 30px;
}
.all-products{
    margin-top: 20px;
}
.products-bar{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 30px;
    padding-left: 0;
}