.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.navbar-container{
    margin-bottom: 20px;
}
.right-bar{
    display: flex;
    gap: 20px;
}
.icons{
    display: flex;
    gap: 10px;
    margin-top: 6px;
}
.logo-name{
    font-family: "Linotype";
    font-style: italic;
}
.nav-button{
    border: 0px;
    background-color: white;
}
.search-bar {
  border: none;
  border-bottom: 1px solid #a9442e; /* Brown underline */
  outline: none;
  padding: 5px 28px 5px 28px; /* Space for icon */
  font-size: 16px;
  color: #a9442e;
  background: transparent;
  background-image: url("data:image/svg+xml,%3Csvg fill='brown' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M505 442.7L405.3 343a208.1 208.1 0 1 0-62.3 62.3L442.7 505a20 20 0 0 0 28.3-28.3zM208 368a160 160 0 1 1 0-320 160 160 0 0 1 0 320z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 18px;
}
.navbar-links{
    display: flex;
    gap: 60px;
}
.navbar-bottom{
    display: flex;
    justify-content: center;
}
.nav-link{
    text-decoration: none;
    font-family: "calibri";
    font-size: 18px;   
}